<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- config -->
    <type name="MateuszMesek\DocumentDataIndexMview\Config">
        <arguments>
            <argument name="data" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexMview\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">document_data_mview_config_cache</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexMview\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">document_data_mview.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/document" xsi:type="string">name</item>
                <item name="/config/document/node" xsi:type="string">path</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MateuszMesek\DocumentDataIndexMview\Config\Converter">
        <arguments>
            <argument name="documentProcessor" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Converter\Document</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Config\Converter\Document">
        <arguments>
            <argument name="nodeProcessor" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Converter\Node</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Config\Converter\Node">
        <arguments>
            <argument name="nodeSubscriptionProcessor" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config\Converter\NodeSubscription</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Config\Converter\NodeSubscription\Pool">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="table" xsi:type="string">MateuszMesek\DocumentDataIndexMview\Config\Converter\NodeSubscription\Table</item>
                <item name="attribute" xsi:type="string">MateuszMesek\DocumentDataIndexMview\Config\Converter\NodeSubscription\Attribute</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexMview\Config\SchemaLocator" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">MateuszMesek_DocumentDataIndexMview</argument>
            <argument name="schema" xsi:type="string">document_data_mview.xsd</argument>
        </arguments>
    </virtualType>
    <!-- mview -->
    <type name="Magento\Framework\Mview\Config\Reader">
        <plugin name="MateuszMesek_DocumentDataIndexMview" type="MateuszMesek\DocumentDataIndexMview\Plugin\InjectViews\OnViewConfigReader"/>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Plugin\InjectViews\OnViewConfigReader">
        <arguments>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexMview\ChangelogTableNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\ChangelogTableNameResolver">
        <arguments>
            <argument name="prefix" xsi:type="string">document_data_</argument>
            <argument name="suffix" xsi:type="string">_mview</argument>
        </arguments>
    </type>

    <type name="MateuszMesek\DocumentDataApi\Command\GetDocumentDataInterface">
        <plugin name="MateuszMesek_DocumentDataIndexMview" type="MateuszMesek\DocumentDataIndexMview\Plugin\LimitNodePaths\OnGetDocumentData"/>
    </type>
    <type name="MateuszMesek\DocumentDataApi\Command\GetDocumentNodesInterface">
        <plugin name="MateuszMesek_DocumentDataIndexMview" type="MateuszMesek\DocumentDataIndexMview\Plugin\LimitNodePaths\GetDocumentNodes"/>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Action">
        <arguments>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexIndexer\DimensionalIndexer</argument>
        </arguments>
    </type>
    <!-- mview subscription -->
    <type name="Magento\Framework\Mview\View\SubscriptionInterface">
        <plugin name="MateuszMesek_DocumentDataIndexMview" type="MateuszMesek\DocumentDataIndexMview\Plugin\UpdateDbTriggers\OnSubscription"/>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\Plugin\UpdateDbTriggers\OnSubscription">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexMview\DocumentNameResolver</argument>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexMview\ChangelogTableNameResolver</argument>
            <argument name="triggerProvider" xsi:type="object">MateuszMesek\DocumentDataIndexMview\TriggerProvider</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\DocumentNameResolver">
        <arguments>
            <argument name="key" xsi:type="string">document_name</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\TriggerProvider">
        <arguments>
            <argument name="subscriptionProvider" xsi:type="object">MateuszMesek\DocumentDataIndexMview\SubscriptionProvider</argument>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexMview\ChangelogTableNameResolver</argument>
            <argument name="triggerNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexMview\TriggerNameResolver</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\TriggerNameResolver">
        <arguments>
            <argument name="prefix" xsi:type="string">document_data_</argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\SubscriptionProvider\Composite">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="config" xsi:type="string">MateuszMesek\DocumentDataIndexMview\SubscriptionProvider\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="MateuszMesek\DocumentDataIndexMview\SubscriptionProvider\Factory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexMview\Config</argument>
            <argument name="defaultType" xsi:type="string">MateuszMesek\DocumentDataIndexMview\SubscriptionProvider\Composite</argument>
        </arguments>
    </type>
</config>
